<div class="our-service container-fluid well">
  <h3 class="container">
    Если вы – небольшая компания, консультант или специалист, то вопрос получения оплаты критичен. С Finserv вы можете получать от Ваших клиентов по всему миру быстро, безопасно и недорого. 
  </h3>
</div>
<div class="service-page container-fluid">
  <h3 class="container">Подключившись к системе, вы сможете принимать платежи на своем сайте с помощью популярных средств.</h3>
    <div class="container">
      <div class="row logos text-center">
       <div class="col-3 col-md-3 col-sm-3"><%= image_tag("qiwi-logo.png", :alt => "Qiwi-logo") %></div>
        <div class="col-3 col-md-3 co-sm-3"><%= image_tag("yandex-dengi.png", :alt => "Yandex-dengi") %></div>
        <div class="col-3 col-md-3 co-sm-3"><%= image_tag("webmoney-logo.png", :alt => "Webmoney-logo") %></div>
        <div class="col-3 col-md-3 co-sm-3"><%= image_tag("master-visa.png", :alt => "mastercard-visacard-logo") %></div>
      </div>
    </div>
</div>
  <div class="container-fluid footer">
      <div class="container">
        <hr>
        <div class="row">
             <div class="col-4 col-md-4 col-sm-4">
               <ul class="footer-col1">
                <li><a href="/Юридические"><h4>Юридические соглашение</h4></a></li>
                <li><a href="/Конфеденциальность">Конфеденциальность</a></li>
                <li><a href="/Интеллектуальная">Интеллектуальная собственность</a></li>
               </ul>
             </div>
              <div class="col-4 col-md-4 col-sm-4">
                 <ul class="footer-col2">
                  <li><a href="/Помощь"><h4>Помощь</h4></a></li>
                  <li><a href="/Связь">Связь с нами</a></li>
                  <li><a href="/Комиссии">Комиссии</a></li>
                  <li><a href="/Жалобы">Жалобы</a></li>
                 </ul>
              </div>
              <div class="col-4 col-md-4 col-sm-4 copyright-icon">
                <i class="far fa-copyright"> 2018 Finserv LLC., All Rights Reserved</i>
              </div>
          </div>
        </div>
     </div>