<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Вы получили сообщение о форме заявки с сайта, от
        <% "#{@company}, #{@name}, #{@email}." %></p>
        <p><%= @body %></p>
    </body>
</html>