/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}
//Background gradient
.navbar {
  background: #4da6ff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-right {
  padding-top: 25px;
  font-size: 20px;
}

.home-callout {
  background: #614385;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
//Nav styles
.navbar {
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a  {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #4da6ff;
  }
}


// Home page styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 500px;
}

//HOW IT WORKS SECTION
.how-works1 {
  background: #4da6ff;
  color: white;
  margin-top: -20px;
  height: auto; 
}

.how-works2 {
  background: white;
  padding-bottom: 30px;
  height: auto;
  
}
//About page
.our-service {
  margin-top: -20px;
}
.service-page {
  height: 550px;
}
//footer 
footer {
  background: #0c0804;
  position: relative;
  color: white;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
.footer-col1, .footer-col2 {
  list-style-type: none;
 }
 a:link {
  color: white;
}
.copyright-icon {
  position: relative;
  bottom: -75px;
}