/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

html {
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}
//Background gradient
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-right {
  padding-top: 25px;
  font-size: 20px;
}

.navbar-brand {
  font-size: 25px;
}
//Nav styles
.navbar {
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a  {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #4da6ff;
  }
}
#navigation-menu {
  //Gradient provided by @_ighosh at uiGradients.com
 background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4776e6, #8e54e9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4776e6, #8e54e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
img {
  padding-left: 5px;
}
.Poluchayte {
   font-family: 'Playfair Display SC', serif;
}
#main-nav-collapse {
  font-family: 'Playfair Display SC', serif;
}
.kak-eto {
  font-family: 'Playfair Display SC', serif;
}
// Home page styles
.home-callout {
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4776e6, #8e54e9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4776e6, #8e54e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  margin-top: -25px;
  padding-top: 50px;
  padding-bottom: 200px;
 }
  .home-callout {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
  display: block;
  position: static;
  
  }
.main-message {
  margin-top: 40px;
}


//HOW IT WORKS SECTION
.how-works1 {
  background: #4da6ff;
  color: white;
  margin-top: -20px;
  height: auto; 
}

.how-works2 {
  background: white;
  padding-bottom: 10px;
  height: auto;
}
hr {
  background: #4da6ff;
  border-width: 2px;
}
//About page
.our-service {
  margin-top: -20px;
 
}
.service-page {
  height: 550px;
}
.contact_form {
  height: 694px;
}
//footer 
.footer {
  background: white;
  color: black;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-bottom: 5px;
 
}
.footer-col1, .footer-col2 {
  list-style-type: none;
 }
 a:link {
  color: black;
}
.copyright-icon {
  position: relative;
  bottom: -75px;
}

/* Desktop 
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  .home-callout {
    background-image: url(background.jpg);
   }
}
/* Tablet 
@media only screen and (min-width: 760px) and (max-width: 980px) {
  .home-callout {
    background-image: url(background2.jpg);
   }
}
/* Mobile 
@media only screen and (min-width: 350px) and (max-width: 760px) {
  .home-callout {
    background-image: url(background3.jpg);
  }
}
/* Mobile 
@media only screen and (max-width: 350px) {
  .home-callout {
    background-image: url(background4.jpg);
  }
} */
/* For mobile phones: 
[class*="col-"] {
    width: 100%;
}

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {
     
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
} 

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {
    
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
       /* For desktop
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}*/

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
  
} */